<section id="about">

  <div class="about-container">

    <h3 class="about-section-title">About Me</h3>

    <div class="about-wrapper-1">
      <div class="about-lockup">
        <div class="face-img"></div>
        <div class="about-title-wrapper">
          <div class="about-title">Colin Rubbert</div>
          <div class="about-subtitle">Developer // Thinker // Creative</div>
        </div>
      </div>

      <div class="about-blurb">
        <p><strong>I may be grown up</strong> but I will forever be young at heart and have the curiousity of child. This curiosity and enthusiasm has given me the passion to explore anything that I find interesting. Finding new challenges and activities to expand my knowledge and skillset will also be who I am.</p>
        <p><strong>Having many passions, interests, and experiences</strong> have given me a unique insight and view of the world. I share these experiences through my writing and photography. Stick around for some personal insights, stories, and visuals of my life.</p>
      </div>

    </div> <!-- End About Wrapper 1 -->

    <div class="about-wrapper-2">
      <div class="about-interests">Take a look at some of the things I do ...</div>
      <div class="about-interests-links">
        <a href="{{ site.baseurl }}/about" > About </a>
        <a href="{{ site.baseurl }}/articles" > Articles </a>
        <a href="{{ site.baseurl }}/photography" > Photography </a>
      </div>

    </div> <!-- End About Wrapper 2 -->

  </div> <!-- End About Container -->

</section>
