<section id="about">

  <div class="about-container">

    <h3 class="about-section-title">About Me</h3>

    <div class="about-wrapper-1">
      <div class="about-lockup">
        <div class="face-img"></div>
        <div class="about-title-wrapper">
          <div class="about-title">Colin Rubbert</div>
          <div class="about-subtitle">Developer // Thinker // Creative</div>
        </div>
      </div>

      <div class="about-blurb">
        <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauri.</p>
        <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauri.</p>
      </div>

    </div> <!-- End About Wrapper 1 -->

    <div class="about-wrapper-2">
      <div class="about-interests">Take a look at some of the things I do ...</div>
      <div class="about-interests-links">
        <a href="#">Articles</a>
        <a href="#">Photography</a>
        <a href="#">Work</a>
      </div>

    </div> <!-- End About Wrapper 2 -->

  </div> <!-- End About Container -->

</section>
