<nav class="alt-mobile-nav">
  <a href="{{ site.baseurl }}/about" > About </a>
  <a href="{{ site.baseurl }}/articles" > Articles </a>
  <a href="{{ site.baseurl }}/photography" > Photography </a>
  <a href="#" > Work </a>
</nav>


<header id="alt-header">

  <div class="alt-nav-container">
    <div class="brand">Colin Rubbert</div>

    <nav class="site-nav">
      <a href="{{ site.baseurl }}/about" > About </a>
      <a href="{{ site.baseurl }}/articles" > Articles </a>
      <a href="{{ site.baseurl }}/photography" > Photography </a>
      <a href="#" > Work </a>
    </nav>

    <div class="alt-mobile-nav-toggle">
      <span></span>
    </div>
  </div> <!-- End of Navigation Container -->

</header>
