<section id="articles">

  <div class="articles-container">

    <h3 class="articles-section-title">Articles</h3>

      <div class="articles-list">
        {% for post in paginator.posts %}
          <div class="articles-post-container">
            <img class="articles-post-thumbnail" src="{{ site.baseurl }}/assets/img/thumbs/{{ post.image-category }}/{{ post.thumbnail }}" />
            <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
            <p>{{ post.content | strip_html | truncatewords: 60 }}</p>
            <a href="{{ post.url }}"><p>Read more ...</p></a>
          </div>
        {% endfor %}
      </div>

      <div class="articles-pagination">
        <!-- Pagination links -->
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
          {% else %}
            <span class="previous">Previous</span>
          {% endif %}
          <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
          {% else %}
            <span class="next ">Next</span>
          {% endif %}
        </div>
      </div>

  </div>

</section>
