<section id="contact" class="contact">
  <div class="contact-container">

    <div class="contact-wrapper">
      <div class="contact-title">Contact Me</div>

      <div class="form">
        <form action="//formspree.io/colinrubbert@gmail.com" method="POST">

          <div class="contact-info-group">
            <label>
              <span>Name</span>
              <input type="text" name="name">
            </label>
            <label>
              <span>Email</span>
              <input type="email" name="_replyto">
            </label>
          </div>

          <div class="contact-info-message">
            <label>
              <span>Tell me about you or your project</span>
              <textarea name="message" col="25" row="7"></textarea>
            </label>
          </div>

          <div class="submit-wrap">
            <input type="submit" value="Send" >
          </div>
        </form>
      </div> <!-- End of form -->

    </div> <!-- End of Contact Wrapper -->

  </div> <!-- End Contact Container -->
</section>
