<head>
  <title>{{ site.title }}</title>
  <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicons/favicon.ico">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />

  {% include google_analytics.html %}
</head>
