<section id="photography">

  <div class="photography-container">

    <h3 class="photography-section-title">Photography</h3>

    <div class="photography-category">
      <a href="">People</a>
      <a href="">Places</a>
      <a href="">Things</a>
    </div>

    <div class="photography-grid">
      <div class="thumb-unit" style="background-image: url({{ site.baseurl }}/assets/img/compressed/places/places-0.jpg)"></div>
      <div class="thumb-unit" style="background-image: url({{ site.baseurl }}/assets/img/compressed/places/places-1.jpg)"></div>
      <div class="thumb-unit" style="background-image: url({{ site.baseurl }}/assets/img/compressed/places/places-2.jpg)"></div>
      <div class="thumb-unit" style="background-image: url({{ site.baseurl }}/assets/img/compressed/places/places-3.jpg)"></div>
      <div class="thumb-unit" style="background-image: url({{ site.baseurl }}/assets/img/compressed/places/places-4.jpg)"></div>
      <div class="thumb-unit" style="background-image: url({{ site.baseurl }}/assets/img/compressed/places/places-5.jpg)"></div>
      <div class="thumb-unit" style="background-image: url({{ site.baseurl }}/assets/img/compressed/places/places-6.jpg)"></div>
      <div class="thumb-unit" style="background-image: url({{ site.baseurl }}/assets/img/compressed/places/places-7.jpg)"></div>
      <div class="thumb-unit" style="background-image: url({{ site.baseurl }}/assets/img/compressed/places/places-8.jpg)"></div>
      <div class="thumb-unit" style="background-image: url({{ site.baseurl }}/assets/img/compressed/places/places-9.jpg)"></div>
      <div class="thumb-unit" style="background-image: url({{ site.baseurl }}/assets/img/compressed/places/places-10.jpg)"></div>
      <div class="thumb-unit" style="background-image: url({{ site.baseurl }}/assets/img/compressed/places/places-11.jpg)"></div>
    </div>

    <div class="photography-controls"></div>

    <div class="photography-pagination"></div>

  </div> <!-- End of Photography Container -->

</section>
