<section id="photography">

  <div class="photography-container">

    <h3 class="photography-section-title">Photography</h3>

    <div class="photography-category">
      <a href="">People</a>
      <a href="">Places</a>
      <a href="">Things</a>
    </div>

    <div class="photography-grid">
      {% for image in site.data.galleries.places_images %}
        <div class="thumb-unit">
          <a class="fancybox-thumb" rel="fancybox-thumb" href="{{ site.baseurl }}/assets/img/compressed/places/{{ image.name }}">
            <img src="{{ site.baseurl }}/assets/img/thumbs/places/{{ image.thumb }}" />
          </a>
        </div>
      {% endfor %}
    </div>

    <div class="photography-controls"></div>

    <div class="photography-pagination"></div>

  </div> <!-- End of Photography Container -->

</section>
