.photography-container
  max-width: 800px
  margin: 0 auto
  padding: 50px 0

  .photography-section-title
    text-align: center
    margin-top: 0
    padding-bottom: 50px

  .photography-category
    font-size: 18px
    padding-bottom: 50px
    +display(flex)
    +justify-content(space-around)
    +align-items(center)

    label
      cursor: pointer

  .people,
  .places,
  .things
    display: none

  .photography-grid
    display: block
    margin: 0 auto
    text-align: center

    .thumb-unit
      +display(inline-block)
      margin: 0 10px
      width: 30%

      img
        width: 100%
        height: auto
        border-radius: 5px

  .active
    border-bottom: 3px solid $accent-light-color

@media (max-width: 768px)
  .photography-container

    .photography-grid
      display: block

      .thumb-unit
        width: auto
