.posts-wrapper
  max-width: 800px
  margin: 0 auto
  padding: 50px

  h1
    margin-top: 0
    text-align: center

  p, ul
    font-size: 16px
    color: $text-dark-color

  blockquote p
    color: $text-color
    font-size: 18px
